name: Publish

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        default: false

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: '22'
          cache: 'pnpm'
      - name: update npm
        run: npm install -g npm@latest
      - run: pnpm install
      - name: publish
        run: |
          if [ "$DRY_RUN" ]; then
            pnpm publish --no-git-checks --dry-run
          else
            pnpm publish --no-git-checks
          fi
        env:
          DRY_RUN: ${{ (github.event_name == 'workflow_dispatch' && inputs.dry-run) && '1' || '' }}
